<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<nav class="toolbar center">
  <h1>Cadastro de Falhas em Impressoras</h1>
</nav>

<div class="alert alert-success" role="alert" *ngIf="showSuccess">
  Cadastro realizado com sucesso!
</div>

<main class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="brand">Marca:</label>
        <select id="brand" class="form-control" name="brand" [(ngModel)]="brand">
          <option selected>EPSON</option>
          <option>HP</option>
          <option>BROTHER</option>
          <option>ELGIN</option>
          <option>FUGIFILM</option>
          <option>CANON</option>
          <option>LEXMARK</option>
          <option>ZEBRA</option>
          <option>ARGOX</option>
          <option>XEROX</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="model">Modelo:</label>
        <input type="text" class="form-control" id="model" name="model" [(ngModel)]="model" placeholder="Modelo">
      </div>
    </div>
    <div class="form-group">
      <label for="type">Tipo de Impressora:</label>
      <select id="type" class="form-control" name="type" [(ngModel)]="type">
        <option value="laser" selected>Laser</option>
        <option value="jato"> Jato de Tinta</option>
        <option value="térmica"> Térmica</option>
      </select>
    </div>
    <div class="form-group">
      <label for="category">Categoria do Problema:</label>
      <select id="category" class="form-control" name="category" [(ngModel)]="category">
        <option value="driver" selected>Driver</option>
        <option value="toner">Toner</option>
        <option value="papel">Papel</option>
        <option value="cabos">Cabos</option>
        <option value="rolamento">Rolamento</option>
        <option value="fusor">Fusor</option>
      </select>
    </div>
    <div class="form-group">
      <label for="severity">Nível de Gravidade:</label>
      <select id="severity" class="form-control" name="severity" [(ngModel)]="severity">
        <option value="1" selected>1 - Baixo</option>
        <option value="2"> 2 - Médio</option>
        <option value="3"> 3 - Alto</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Descrição do Problema:</label>
      <textarea id="description" class="form-control" name="description" [(ngModel)]="description"></textarea>
    </div>
    <button type="button" class="btn btn-primary" (click)="sendData()">Enviar</button>
  </form>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
